.mainPage {
  --flexGap: 20px;

  max-width: 1200px;
  padding: 70px clamp(20px, 10vw, 100px);
  margin: auto;
}

.header {
  display: flex;
  align-items: center;
  gap: 1rem;
  text-align: center;
}

.mainInfo {
  text-align: justify;
}

.columns {
  columns: 2;
  column-gap: 50px;
}

.ratingsWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--spacing);
}

.ratings {
  display: flex;
  gap: var(--spacingHalf);

  @media (max-width: 800px) {
    flex-direction: column;
  }
}

.ratingTotalUsers {
  display: flex;
  align-items: center;
  gap: var(--spacing);

  img {
    filter: var(--themeDarkInverseFilter);
  }
}

.ratingAmountFrom {
  font-size: medium;
}

.break {
  break-before: column;
}

.columns > * {
  break-inside: avoid;
}

.logo {
  width: var(--iconSizeBig);
  height: var(--iconSizeBig);
}

.topIcons {
  --iconSize: 28px;
  --flexGap:  var(--spacing);

  position: fixed;
  top: 0;
  left: 0;
  padding: var(--flexGap);
  border-radius: var(--borderRadius);
  z-index: 100;

  > * {
    cursor: pointer;
    opacity: .55;
    transition: opacity 250ms;

    &:hover {
      opacity: 1;
    }
  }
}

.supportedLocalizations {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.installButtons {
  font-size: 110%;

  > :any-link {
    border: 2px solid currentColor;
    border-radius: var(--borderRadius);
    padding: var(--spacingHalf);
    text-decoration: none;
    font-weight: 500;
    transition: box-shadow 250ms ease-out, color 250ms;

    &:focus, &:hover {
      outline: none;
      box-shadow: 0 0 0 1px inset;
      color: inherit;
    }
  }

  img {
    height: var(--iconSize);
    filter: var(--themeDarkInverseFilter);
  }
}
