.mainPage {
  --flexGap: 20px;

  max-width: var(--contentMaxWidth);
  padding: 60px clamp(20px, 10vw, 100px);
  margin: auto;
}

.headline {
  --flexGap: 25px !important;
}

.mainInfo {
  text-align: justify;
}

.fluidColumns {
  columns: 2;
  column-gap: 50px;

  .breakCol {
    break-before: column;
  }

  > * {
    break-inside: avoid;
  }
}

.ratingsWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--spacingHalf);
}

.ratings {
  display: flex;
  gap: 4px;

  @media (width <= 800px) {
    flex-direction: column;
  }
}

.ratingTotalUsers img {
  filter: var(--themedInverseFilter);
}

.ratingAmountFrom {
  font-size: medium;
}

.logo {
  width: var(--iconSizeBig);
  height: var(--iconSizeBig);
}

.installButtons {
  font-size: 110%;

  img {
    filter: var(--themedInverseFilter);
  }

  a {
    padding: var(--spacingHalf);
  }
}

.comparePlans {
  > * {
    border: 2px solid;
    border-radius: var(--borderRadius);
  }

  h4 {
    border-bottom: inherit;
    color: var(--themedTextColorInverse);
    background: var(--themedBgcInverse);
    padding: var(--spacingHalf);
  }

  ul {
    padding: var(--spacing) var(--spacingDouble);
    list-style-type: circle;
  }
}

.proPlanFinalThought {
  text-align: center;
  font-size: small;
  color: gray;
}
