.mainPage {
  max-width: 1200px;
  padding: 70px clamp(20px, 10vw, 100px);
  margin: auto;
}

.header {
  display: flex;
  align-items: center;
  gap: 1rem;
  text-align: center;
}

.mainInfo {
  text-align: justify;
}

.columns {
  columns: 2;
  column-gap: 50px;
}

.ratingsWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--spacing);
}

.ratings {
  display: flex;
  gap: var(--spacingHalf);

  @media (max-width: 800px) {
    flex-direction: column;
  }
}

.ratingTotalUsers {
  display: flex;
  align-items: center;
  gap: var(--spacing);
}

.ratingTotalUsers img {
  filter: var(--themeDarkInverseFilter);
}

.ratingAmountFrom {
  font-size: medium;
}

.break {
  break-before: column;
}

.columns > * {
  break-inside: avoid;
}

.photos {
  margin: var(--spacingDouble) 0;
}

.logo {
  --iconSize: var(--iconSizeBig);
}

.topIcons {
  --iconSize: 28px;

  position: fixed;
  top: 0;
  left: 0;
  padding: var(--spacing);
  border-radius: var(--borderRadius);
  z-index: 100;

  > * {
    width: var(--iconSize);
    height: var(--iconSize);
    filter: var(--themeDarkInverseFilter);
    cursor: pointer;
    opacity: .55;
    transition: opacity 250ms;

    &:hover {
      opacity: 1;
    }
  }
}

.supportedLocalizations {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.installButtons {
  padding: var(--spacing);
  font-size: 110%;

  > :any-link {
    border: 2px solid currentColor;
    border-radius: var(--borderRadius);
    padding: var(--spacingHalf);
    text-decoration: none;
    font-weight: 500;

    &:hover {
      color: inherit;
    }
  }

  img {
    height: var(--iconSize);
    filter: var(--themeDarkInverseFilter);
  }
}
