.mainPage {
  --flexGap: 20px;

  max-width: 1200px;
  padding: 60px clamp(20px, 10vw, 100px);
  margin: auto;
}

.header {
  display: flex;
  align-items: center;
  gap: 1rem;
  text-align: center;
  margin-top: var(--spacingDouble);
}

.earlyAccessBtn {
  display: flex;
  flex-direction: column;
  gap: 2px;
  white-space: nowrap;
  text-align: center;
  line-height: 75%;

  .label {
    font-weight: 500;
  }

  .extraInfo {
    color: #666;
    font-size: small;
    font-style: italic;
  }
}

.mainInfo {
  text-align: justify;
}

.columns {
  columns: 2;
  column-gap: 50px;
}

.ratingsWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--spacingHalf);
}

.ratings {
  display: flex;
  gap: 4px;

  @media (width <= 800px) {
    flex-direction: column;
  }
}

.ratingTotalUsers img {
  filter: var(--themedInverseFilter);
}

.ratingAmountFrom {
  font-size: medium;
}

.break {
  break-before: column;
}

.columns > * {
  break-inside: avoid;
}

.logo {
  width: var(--iconSizeBig);
  height: var(--iconSizeBig);
}

.topIcons {
  --iconSize: 28px;

  position: fixed;
  top: 0;
  left: 0;
  padding: var(--spacing);
  border-radius: var(--borderRadius);
  background-color: var(--themedTransparentBgc);
  z-index: 100;

  > * {
    cursor: pointer;
    opacity: .55;
    transition: opacity 250ms;

    &:hover {
      opacity: 1;
    }
  }
}

.installButtons {
  font-size: 110%;

  img {
    filter: var(--themedInverseFilter);
  }

  a {
    padding: var(--spacingHalf);
  }
}

.comparePlans {
  > * {
    border: 2px solid;
    border-radius: var(--borderRadius);
  }

  h4 {
    border-bottom: inherit;
    color: var(--themedTextColorInverse);
    background: var(--themedBgcInverse);
    padding: var(--spacingHalf);
  }

  ul {
    padding: var(--spacing) var(--spacingDouble);
    list-style-type: circle;
  }
}

.proPlanFinalThought {
  text-align: center;
  font-size: small;
  color: gray;
}
