body:has(.Dialog) {
  overflow: hidden; /* don't allow to scroll page when dialog is visible */
}

.Dialog {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #000000cc;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--borderRadius);
  overflow: auto;
}

.DialogContent {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: var(--spacing);
}

.closeBtn {
  --iconSize: 40px;

  position: fixed;
  right: 0;
  top: 0;
  margin: var(--spacing);
  font-size: var(--iconSize);
  width: var(--iconSize);
  height: var(--iconSize);
  line-height: var(--iconSize);
  border-radius: 50%;
  border: 1px solid;
  opacity: .75;
  color: white;
  background: black;
  text-align: center;
  user-select: none;
  cursor: pointer;
  z-index: 10;

  &:hover {
    opacity: 1;
  }
}
