.gallery {
  --rowWidth: 200px;
  --rowHeight: var(--rowWidth);

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--rowWidth), 1fr));
  grid-auto-rows: var(--rowHeight);
  gap: var(--spacing);

  .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--borderRadius);
  }
}

.showAll {
  font: 13px var(--fontHeader1);
  padding-top: var(--spacing);
  text-transform: uppercase;
  text-align: right;
}