header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  padding: var(--spacingHalf) var(--spacing);
  background: var(--themedSemiTransparentBgc);
  border-bottom: 1px solid silver;
  z-index: 100;
}

.headerIcons {
  --iconSize: 28px;
  position: relative;
  z-index: 100;

  > * {
    cursor: pointer;
    opacity: .55;
    transition: opacity 250ms;

    &:hover {
      opacity: 1;
    }
  }
}

.headerButtons {
  @media (width <= 800px) {
    .githubBtn {
      display: none;
    }
  }
}
