.Icon {
  --size: var(--iconSize);

  display: inline-block;
  width: var(--size);
  height: var(--size);

  &.small {
    --size: var(--iconSizeSmall);
  }

  &.big {
    --size: var(--iconSizeBig);
  }

  img, svg {
    display: inherit;
    color: inherit;
    width: inherit;
    height: inherit;
    filter: var(--themeInverseFilter);
    vertical-align: middle;
  }
}
