.Icon {
  --size: var(--iconSize, var(--iconSizeNormal));

  display: inline-block;
  width: var(--size);
  height: var(--size);

  &.small {
    --size: var(--iconSizeSmall);
  }

  &.big {
    --size: var(--iconSizeBig);
  }

  img, svg {
    display: inherit;
    width: inherit;
    height: inherit;
    vertical-align: middle;
    color: currentColor;
  }

  &.svgStroke svg path {
    stroke: currentColor;
  }

  &.svgFill svg path {
    fill: currentColor;
  }
}
