.iconDarkLight {
  filter: var(--themeDarkInverseFilter);
  opacity: .75;

  &:hover {
    opacity: 1;
  }
}

.iconDarkLight svg {
  width: var(--iconSize);
  height: var(--iconSize);
  vertical-align: middle;
  color: inherit;
}
