.PhotoPreview {
}

.PhotoPreviewClient {

}

.PhotoPreviewClientImage {
}

.PhotoPreviewClientTitle {
  display: block;
  padding: 10px 0;
  font-size: 18px;
  font-style: italic;
  text-align: center;
  background: white;
  border-radius: var(--borderRadius);
}


