.PhotoPreviewClient {
  position: relative;

  img {
    border-radius: var(--borderRadius);
    border: 3px solid var(--linkColor);

    &:hover {
      z-index: 10;
    }
  }
}

.PhotoPreviewClientImage {
  position: relative;
  flex: 1 0;
}

.PhotoPreviewClientTitle {
  display: block;
  padding: 10px 0;
  font-size: 18px;
  font-style: italic;
  text-align: center;
  background: white;
}


