.rating {
  --starSize: 23px;
  --colorActive: var(--linkColor);
  --colorInactive: lightgray;

  position: relative;
  display: flex;
  gap: 5px;
  font-size: var(--starSize);
}

.rateValue {
  font-size: x-large;
}

.totalReviews {
  font-size: medium;
}

.starsWrapper {
  position: relative;
  min-width: calc(var(--starSize) * 5);
  min-height: var(--starSize);
}

.star {
  --color: var(--colorInactive);

  width: calc(var(--starSize) * var(--rate, 5));
  color: var(--color);
  overflow: hidden;
  user-select: none;

  &.active {
    --color: var(--colorActive);

    position: absolute;
    left: 0;
    top: 0;
  }
}
