@import "./flexbox.css";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --borderRadius: 5px;
  --spacing: 12px;
  --spacingHalf: calc(var(--spacing) / 2);
  --spacingDouble: calc(var(--spacing) * 2);
  --iconSizeSmall: 25px;
  --iconSize: 35px;
  --iconSizeBig: 50px;

  /* theme setup with light-dark() or custom variables */
  color-scheme: light dark;

  --textColor: light-dark(var(--foreground), var(--background));
  --bgcColor: light-dark(var(--background), var(--foreground));
  --linkColor: light-dark(#942486aa, rgba(213, 105, 195, 0.8));
  --transparentBgc: light-dark(#ffffff55, #00000055);

  &.light {
    color-scheme: light;
  }

  &.dark {
    color-scheme: dark;
    --themeDarkInverseFilter: invert(1);
  }
}

:any-link[href] {
  color: var(--linkColor);
  text-decoration-color: var(--textColor);
  text-underline-offset: 4px;
  text-decoration-thickness: 2px;

  &:hover {
    text-decoration-color: currentColor;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: var(--textColor);
  background: var(--bgcColor);
  max-width: 100vw;
  height: 100%;
  font: 16px/150% var(--font-roboto);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  line-height: 100%;
}

h3 {
  border-bottom: 1px solid silver;
  padding-bottom: var(--spacing);
  margin-bottom: var(--spacingHalf);
}
