.page {
  padding: 5rem;
}

.images {
  --grid-size: 300px;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(var(--grid-size), 1fr));
  grid-auto-rows: var(--grid-size);
  grid-gap: var(--spacingDouble);

  > div {
    overflow: hidden;
  }

  a {
    display: block;
    border: 5px solid transparent;

    &:hover {
      border-color: currentColor;
    }
  }
}

.images img {
  object-fit: cover;
  width: auto;
  height: var(--grid-size);
  border-radius: var(--borderRadius);
}
