.page {
  max-width: 1200px;
  padding: 70px clamp(20px, 10vw, 100px);
  margin: auto;
}

.header {
  display: flex;
  align-items: center;
  gap: 1rem;
  text-align: center;
  margin-bottom: 10px;
}

.columns {
  columns: 2;
  column-gap: 50px;
}

.ratings {
  display: flex;
  align-items: center;
  gap: var(--spacing);
  margin: var(--spacing) 0;
}

.ratingAmountFrom {
  font-size: medium;
}

.break {
  break-before: column;
}

.columns > * {
  break-inside: avoid;
}

.photos {
  margin: 20px 0;
}

.logo {
  --iconSize: 50px;
  width: var(--iconSize);
  height: var(--iconSize);
}

.installIcons {
  --iconSize: 30px;

  position: fixed;
  right: 0;
  top: 0;
  margin: 10px;
  display: flex;
  padding: 5px;
  gap: 10px;
  z-index: 100;
  background: var(--iconBackground);
  border-radius: var(--borderRadius);
}

.installIcons a {
  width: var(--iconSize);
  height: var(--iconSize);
  opacity: .55;
  transition: opacity 250ms;

  &:hover {
    opacity: 1;
  }
}

.installIcons img {
  filter: var(--iconDarkInverseFilter);
  width: inherit;
  height: inherit;
}

.supportedLocalizations {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}