.MainContent {
  --iconSize: 27px;

  .mainInfo {
    text-align: justify;
  }

  .ratingsWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--spacingHalf);

    .ratings {
      display: flex;
      gap: 4px;

      @media (width <= 800px) {
        flex-direction: column;
      }
    }

    .ratingAmountFrom {
      font-size: medium;
    }
  }

  .earlyAccessBtn {
    line-height: 100%;

    .label {
      font-weight: 500;
    }

    .extraInfo {
      color: var(--subHeaderColor);
      font-size: small;
      font-style: italic;
    }
  }
}
